* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	display: grid;
	place-content: center;
	text-align: center;
	gap: 35px;

	height: 100vh;
	width: 100vw;

	background: #202436;
	color: lavender;
}

.images {
	display: flex;
	margin: auto;
	gap: 15px;
}

img {
	border-radius: 10px;
}

.hobby {
	width: 60%;
	font-size: 24px;
	margin: auto;
}
