.crew {
	display: flex;
	flex-flow: row wrap;
	gap: 50px;
	text-align: center;
	justify-content: center;
	margin: 40px auto;
	max-width: 1200px;
}

figure img {
	height: 250px;
	width: 250px;
	object-fit: cover;
	border-radius: 15px;
}

figcaption {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

footer {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding: 20px 0;
}

@media screen and (max-width: 768px) {
	header {
		height: 8.5em;
	}
}
