* {
  background-color: transparent;
}

*::before,
*::after {
  background-color: transparent;
}

img,
video {
  display: none;
}

ul {
  display: inline;
}

body {
  background-color: aliceblue;
}

body * {
  color: black;
}
