@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

@font-face {
  font-family: KeelBB;
  src: url(../fonts/KEELBB__.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #222;
  overflow-x: hidden;
  padding: 0;
  color: honeydew;
}

.poster {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px auto;
  padding: 15px;
  background-color: #e7b982;
  color: darkslategray;
  clip-path: polygon(
    -5% -5%,
    110% -5%,
    110% 30%,
    93% 31%,
    110% 38%,
    110% 110%,
    -5% 110%,
    -5% 78%,
    7% 71%,
    -5% 60%
  );
}

.poster::before,
.poster::after {
  content: "";
  background: url(../images/rip.svg) bottom;
  fill: #e7b982;
  position: absolute;
  top: calc(100% - 4px);
  height: 20px;
  width: 100%;
  left: 0;
  background-size: 200%;
}

.poster::before {
  top: -16px;
  transform: rotate(180deg);
}

figure {
  max-width: 70vw;
  width: 350px;
}

img {
  display: block;
  width: 80%;
  height: 350px;
  object-fit: cover;
  box-shadow: 0 2px 8px #00000074;
  margin: 10px auto;
}

article {
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

footer {
  margin: auto;
  text-align: center;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style-type: none;
  column-gap: 1.75rem;
}

figcaption {
  font-family: Caveat, cursive;
  font-size: 3rem;
}

li a {
  font-family: Caveat, cursive;
  font-size: 2rem;
}

nav ul {
  background: url(../images/rip.svg) bottom;
  padding: 0 10px 15px 10px;
  color: crimson;
  fill: #e7b982;
}

.group {
  text-align: center;
}

.appearance {
  display: inline;
}

hr {
  height: 10px;
  margin: auto;
  margin-top: 10px;
  width: 75%;
  border: none;
  border-top: dotted 3px rgba(34, 34, 34, 0.473);
}

.wiki {
  margin: auto;
  font-size: 1.5rem;
  font-family: KeelBB;
}

@media screen and (min-width: 1025px) {
  body {
    flex-direction: column;
  }

  article {
    flex-basis: 50%;
  }
}
